<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Welcome to Chat app!</h1>
            <p>Login or Create an account</p>
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
            <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
        </div>
    </div>
</div>